@tailwind base;
@tailwind components;
@tailwind utilities;

.cyan-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.cyan-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.cyan-scrollbar::-webkit-scrollbar-thumb {
    background: #5dcbfe;
    border-radius: 10px;
}
